nav ul {
	padding: 0;
	width: 100%;
	margin-top: 30px;
	top: 30%;
	position: relative;
}

nav ul li {
	display: inline;
	right: 0;
}

nav ul li a {
	text-align: center;
	text-decoration: none;
	font-family: 'Inter', sans-serif;
	color: white;
	padding: 12px 16px;
}

nav ul a.icon {
	display: none;
	font-size: 40px;
	padding: 0;
	margin-left: 10px;
}

nav ul li button {
	font-family: 'Inter', sans-serif;
	padding: 16px 40px;
	color: black;
	background: #FFE492;
	border: none;
	font-size: 18px;
	border-radius: 3px;
	margin-left: 10px;
}

nav ul img {
	margin-right: 11%;
}

nav ul li.right{
	float: right;
}

nav ul li a i {
	margin-left: 10px;
}

.btnTry {
	font-family: 'Inter', sans-serif;
	border: none;
	border-radius: 8px;
	background-color: #4F9CF9;
	color: white;
	font-size: 18px;
	padding: 16px 18px;
}

.btnTry i {
	margin-left: 10px;
}

.modal .modal-body a {
	text-decoration: none;
	color: white;
}

body.modal-open {
  overflow-y: hidden;
}

.register-modal .modal-content{
	background-color: skyblue;
	color: white;
}

.login-modal .modal-content{
	background-color: skyblue;
	color: white;
}

.error {
	color: red;
}

div.yellow {
	position: relative;
}

div.yellow img {
	position: absolute;
	left: -10%;
	right: -1%;
	top: 27.43%;
	width: 700px;
	height: 80px;
	z-index: -1;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.intro {
	display: flex;
	align-items: center;
	width: 100%;
	left: 0px;
	background: #043873;
}

img.wave {
	position: absolute;
	top: 23.19%;
	bottom: 10.82%;
	opacity: 0.8;
	width: 100%;	
}

.welcome {
	font-family: 'Inter', sans-serif;
	margin: 100px 0;
	color: white;
	text-transform: capitalize;
	position: relative;
	z-index: 1;
}

.welcome img {
	width:100%;
	height: 500px;
}

.welcome h1 {
	font-weight: bold;
	font-size: 64px;
	margin-top: 80px;
	margin-right: 10px;
}

.welcome p {
	margin: 40px 0;
	font-size: 18px;
}

.welcome button {
	margin-left: 0;
	margin-bottom: 50px;
}

.title {
	font-family: 'Inter', sans-serif;
	margin: 150px 0;
}

.title img {
	margin-left: 40px;
	width:90%;
	height: 400px;
}

.title h1 {
	font-weight: bold;
	font-size: 72px;
}

.title button {
	margin-bottom: 50px;
}

.work-together {
	font-family: 'Inter', sans-serif;
	margin-top: 150px;
	margin-bottom: 150px;
}

.work-together h1 {
	font-weight: bold;
	margin-top: 100px;
	font-size: 72px;
	margin-left: 40px;
}

.work-together img {
	margin-left: 0;
	width:100%;
	height: 100%;
}

.work-together button {
	margin-left: 40px;
	margin-bottom: 50px;
}

.work-together div.yellow {
	position: relative;
}

.work-together div.yellow img {
	position: absolute;
	left: 40%;
	right: -1%;
	top: 12%;
	width: 410px;
	height: 50px;
	z-index: -1;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.extension {
	font-family: 'Inter', sans-serif;
	display: flex;
	align-items: center;
	width: 100%;
	left: 0px;
	background: #043873;
	position: relative;
	z-index:-1;
}

img.bg-img {
	position: absolute;
}

.extension-section {
	font-family: 'Inter', sans-serif;
	margin: 150px 0;
	color: white;
}

.extension-section h1 {
	font-size: 72px;
	font-weight: bold;
	margin-top: 100px;
}

.extension-section p {
	margin-left: 0;
	margin-right: 25px;
}

.extension-section img {
	width:100%;
	height: 100%;
}

.extension-section button {
	margin-bottom: 50px;
}

.extension-section div.yellow img {
	position: absolute;
	left: 40%;
	right: -1%;
	top: 13%;
	width: 460px;
	height: 50px;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.customize {
	font-family: 'Inter', sans-serif;
	margin: 200px 0;
}

.customize h1,p,button {
	margin-top: 50px;
}

.customize h1 {
	font-size: 72px;
	font-weight: bold;
	margin-left: 50px;
}

.customize p {
	margin-left: 50px;
}

.customize  img {
	margin-left: 0;
	width:100%;
	height: 100%;
}

.customize button {
	margin-left: 50px;
	margin-bottom: 50px;
}

.customize div.yellow {
	position: relative;
}

.customize div.yellow img {
	position: absolute;
	left: 6%;
	right: -1%;
	top: 30.43%;
	width: 620px;
	height: 60px;
	z-index: -1;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.plan-title {
	font-family: 'Inter', sans-serif;
	text-align: center;
	margin-bottom: 100px ;
}

.plan-title h1 {
	font-weight: bold;
	font-size: 72px;
}

.plan-title p {
	font-size: 20px;
	margin:0 100px;
}

.plan-title div.yellow {
	position: relative;
}

.plan-title div.yellow img {
	position: absolute;
	left: 50%;
	right: -1%;
	top: 15.43%;
	width: 400px;
	height: 60px;
	z-index: -1;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.plan-details {
	font-family: 'Inter', sans-serif;
	margin-bottom: 100px;
}

.plan-details ul{
	list-style: none;
}

.plan-details .card {
	border: 1px solid #FFE492;
}
 
.plan-details .card .card-body img{
	margin-right: 15px;
	float: left;
}

.plan-details .card:hover {
	background: #043873;
	color: white;
	height: 700px;
	top: -50px;
}


div.selected {
	background: #043873;
	color: white;
	height: 700px;
	top: -50px;
}


a.selected {
	background: #4F9CF9;
	border: none;
	text-decoration: none;
	padding: 10px 14px;
	border-radius: 4px;
	color: white;
}

a.btn {
	border: 1px solid #FFE492;
}

div.selected .card-title1,img {
	color: #FFE492;
}

.extension-work {
	font-family: 'Inter', sans-serif;
	margin:100px 0;
	color: white;
	text-align: center;
}

.extension-work h1 {
	font-size: 72px;
	font-weight: bold;
}

.extension-work p {
	margin: 0 150px;
}

.extension-work button {
	margin: 50px 0;
	margin-bottom: 50px;
}

.extension-work  div.yellow img {
	position: absolute;
	left: 69%;
	right: -1%;
	top: 19.43%;
	width: 300px;
	height: 20px;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

div.data {
	font-family: 'Inter', sans-serif;
	margin-top: 150px;
	margin-bottom: 200px;
}

div.data h1 {
	font-weight: bold;
	margin-top: 100px;
	font-size: 72px;
}

div.data img {
	margin-left: 0;
	width:100%;
	height: 100%;
}

div.data button {
	margin-bottom: 50px;
}

div.data div.yellow {
	position: relative;
}

div.data div.yellow img {
	position: absolute;
	left: 32%;
	right: -1%;
	top: 6%;
	width: 480px;
	height: 80px;
	z-index: -1;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.sponsors {
	font-family: 'Inter', sans-serif;
	margin: 150px 0;
}

.sponsors h1 {
	font-weight: bold;
	text-align: center;
	font-size: 54px;
}

.sponsors .row{
	margin: 100px 0;
}

.sponsors div.yellow {
	position: relative;
}

.sponsors div.yellow img {
	position: absolute;
	left: 45%;
	right: -1%;
	top: 8.43%;
	width: 350px;
	height: 70px;
	z-index: -1;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.favorite {
	font-family: 'Inter', sans-serif;
	margin: 100px 0;
	color: white;
	z-index: 1;
	position: relative;
}

.favorite h1 {
	font-weight: bold;
	margin-left: 100px;
	font-size: 64px;
	margin-top: 80px;
}

.favorite p {
	margin-left: 100px ;
}

.favorite button {
	margin-left: 100px ;
	margin-bottom: 50px;
}

.favorite img {
	width: 100%;
	height: 100%;
} 

.clients-feedback {
	font-family: 'Inter', sans-serif;
	margin: 100px 0;
}

.clients-feedback h1{
	font-weight: bold;
	text-align: center;
	font-size: 70px;
}

.clients-feedback .feedback {
	margin: 30px 0;
}

.clients-feedback .feedback .card {
	background-color: #4F9CF9;
	color: white;
	border: none;
	padding: 30px 0;
}

.clients-feedback div.yellow {
	position: relative;
}

.clients-feedback div.yellow img {
	position: absolute;
	left: 65%;
	right: -1%;
	top: -30%;
	width: 300px;
	height: 100px;
	z-index: -1;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.feedback div.card.feedback-selected {
	background-color: white;
	color: black;
	box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
}

.feedback .card-body hr {
	margin: 40px 0;
}

.feedback .slider .card {
	margin: 0 20px;
}

div.clients img {
	border-radius: 50px;
	height: 90px;
	width: 90px;
}

div.clients h4,div.clients p {
	margin-left: 20px;
}

div.clients h4 {
	font-weight: bold;
	color: #043873;
}

.footer-info {
	font-family: 'Inter', sans-serif;
	margin-top: 80px;
	text-align: center;
	color: white;
}

.card .card-title {
	font-weight: bold;
	font-size: 24px;
}

.card .card-title1 {
	font-weight: bold;
	margin: 30px 0;
	font-size: 36px;
}

.card .card-body{
	margin: 15px;
}

.card .card-body img{
	margin-right: 15px;
}

div.footer-details {
	padding: 0 400px;
}

.footer-info h1 {
	font-weight: bold;
	font-size: 64px;
}

.footer-info p {
	margin-top: 30px;
	font-size: 18px;
}

.footer {
	color: white;
	margin-top: 150px;
	margin-bottom: 50px;
}

.footer h5 {
	font-weight: bold;
}

.footer h3 {
	font-weight: bold;
}

.footer ul {
	list-style: none;
	text-transform: capitalize;
	transform: translateX(-2em);
}


.footer-titlePara {
	margin-right: 90px ;
	margin-left: 0;
}

.footer .row {
	margin-bottom: 50px;
}

.footer-list li{
	list-style: none;
	display: inline;
	padding-right: 40px;
}

@media (max-width: 900px) {
  h1.heading {
  	font-size: 30px;
  }

  .yellow img {
  	display: none;
  }

  .sponsors .row img {
		width: 50%;
		margin-top: 50px;
	}

	.sponsors h2 {
		text-align: center;
	}

	div.yellow {
		text-align: center;
	}

	.footer-titlePara {
		margin-right: 0;
		margin-left: 0;
	}

	.plan-title p {
		font-size: 20px;
		margin:0;
	}

	.extension-work p {
		margin: 0;
	}

	.favorite {
		text-align: center;
	}

	.favorite p {
		margin-left: 0;
	}

	.favorite h1 {
		margin-left: 0;
	}

	.favorite button {
		margin-left: 0;
	}

	.nav ul li.right button {
		display: none;
	}

	.nav ul img {
		margin-top: 25px;
	}

	.customize h1 {
		margin-left: 0;
	}

	.customize p {
		margin-left: 0;
	}

	.customize button {
		margin-left: 0;
	}

	.work-together h1 {
		margin-left: 0;
	}

	.work-together button {
		margin-left: 0;
	}

	.title img {
		margin-left: 0;
		width:100%;
	}

	.footer ul{
	  margin: 20px 0;
	  margin-left: 0;
  }

  .footer-info p img {
		width: 50%;
	}

  img.wave {
  	display: none;
  }

  .footer-info {
  	text-align: left;
  }
}

@media (max-width: 700px) {
  .footer-list {
  	text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .nav ul li a:not(.icon) {
  	display: none;
  }
  
  .nav ul a.icon {
    display: inline;
    font-size: 50px;
    text-align: right;
    float: right;
  }

  .nav.responsive {position: relative;}

  .nav.responsive ul a.icon {
  	right: 0;
    position: absolute;
    top: 0;
  }

  .nav.responsive ul li   {
    display: block;
  }

  .nav.responsive ul a.icon {
  	float: right;
  }

  .nav.responsive ul li button {
  	display: block;
  }

  .nav.responsive ul li a{
  	display: block;
  	text-transform: uppercase;
  }

  .nav.responsive ul li a {
  	background-color: white;
  	color: black;
  }

	div.footer-details {
		padding: 0 0;
	}
}

@media screen and (max-width: 1440px) {
	.nav {
		width: 100%;
	}

	nav ul img {
	margin-right: 0px;
	}
}

@media screen and (max-width: 1350px) { 
		.yellow img {
  	display: none;
  }
}

@media screen and (max-width: 500px) { 
	img.bg-img {
  	display: none;
  }
}