.nav ul{
	list-style: none;
	padding:0;
	margin-top: 10px;
}

nav {
	width: 100%;
}

nav ul li {
	margin-top: 20px;
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: white;
	padding: 10px 15px;
	font-size: 18px; 
}

nav ul li a i {
	margin-left: 10px;
}

nav ul li img {
	margin-right: 140px;
}

nav ul li button {
	padding: 16px 30px;
	color: black;
	background: #FFE492;
	border: none;
	font-size: 18px;
	border-radius: 3px;
	margin-left: 10px;
}

.btnTry {
	border: none;
	border-radius: 8px;
	background-color: #4F9CF9;
	color: white;
	font-size: 18px;
	margin-left: 5px;
	padding: 16px 24px;
}

.btnTry i {
	margin-left: 10px;
}

.dropdown-profile a {
  text-decoration: none;
  display: block;
  min-width: 200px;
  text-align: left;
}

.dropdown-profile {
	display: none;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-profile {
	display: block;
}

.dropdown-profile a:hover {
	background-color: black;
	color: white;
}

div.yellow {
	position: relative;
}

div.yellow img {
	position: absolute;
	left: -10%;
	right: -1%;
	top: 30.43%;
	width: 700px;
	height: 80px;
	z-index: -1;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.intro {
	display: flex;
	align-items: center;
	width: 100%;
	left: 0px;
	background: #043873;
}

.welcome {
	margin: 125px 0;
	color: white;
	text-transform: capitalize;
}

.welcome img {
	width:100%;
	height: 500px;
}

.welcome h1{
	margin-top: 80px;
	margin-right: 10px;
}

.welcome h1 {
	font-size: 64px;
}

.welcome p {
	margin: 40px 0;
}

.welcome button {
	margin-left: 0;
}

.title {
	margin: 150px 0;
}

.title img {
	margin-left: 40px;
	width:90%;
	height: 400px;
}

.title h1 {
	font-size: 72px;
}

.work-together {
	margin-top: 150px;
	margin-bottom: 200px;
}

.work-together h1 {
	margin-top: 100px;
	font-size: 72px;
	margin-left: 40px;
}

.work-together img {
	margin-left: 0;
	width:100%;
	height: 100%;
}


.work-together button {
	margin-left: 40px;
}

.extension {
	display: flex;
	align-items: center;
	width: 100%;
	left: 0px;
	background: #043873;
}

.extension-section {
	margin: 200px 0;
	color: white;
}

.extension-section h1 {
	font-size: 72px;
	margin-top: 100px;
}

.extension-section p {
	margin-left: 0;
	margin-right: 25px;
}

.extension-section img {
	width:100%;
	height: 100%;
}

.plan-title {
	text-align: center;
	margin-bottom: 100px ;
}

.plan-title h1 {
	font-size: 72px;
}

.plan-title p {
	font-size: 20px;
	margin:0 100px;
}

.plan-details {
	margin-bottom: 100px;
}

.plan-details ul{
	list-style: none;
}

.plan-details .card {
	border: 1px solid #FFE492;
}

.extension-work {
	margin:250px 0;
	color: white;
	text-align: center;
}

.extension-work h1 {
	font-size: 72px;
}

.extension-work p {
	margin: 0 150px;
}

.extension-work button {
	margin: 50px 0;
}

.customize {
	margin: 200px 0;
}

.customize h1,p,button {
	margin-top: 50px;
}

.customize h1 {
	font-size: 72px;
	margin-left: 50px;
}

.customize p {
	margin-left: 50px;
}

.customize  img {
	margin-left: 0;
	width:100%;
	height: 100%;
}

.customize button {
	margin-left: 50px;
}

.sponsors {
	margin: 200px 0;
}

.sponsors h1 {
	text-align: center;
	font-size: 54px;
}

.sponsors .row{
	margin: 100px 0;
}

.favorite {
	margin: 200px 0;
	color: white;
}

.favorite h1 {
	margin-left: 100px;
	font-size: 64px;
}

.favorite p {
	margin-left: 100px ;
}

.favorite button {
	margin-left: 100px ;
}

.favorite img {
	width: 100%;
	height: 100%;
} 

.clients-feedback {
	margin: 100px 0;
}

.clients-feedback h1{
	text-align: center;
	font-size: 64px;
}

.clients-feedback .feedback {
	margin: 30px 0;
}

.clients-feedback .feedback .card {
	background-color: #4F9CF9;
	color: white;
	border: none;
	padding: 30px 0;
}

div.clients img {
	border-radius: 50px;
	height: 90px;
	width: 90px;

}

div.clients h4,div.clients p {
	margin-left: 20px;	
}

div.clients h4 {
	color: #043873;
}
.footer-info {
	text-align: center;
	color: white;
}

.footer-info h1 {
	font-size: 64px;
}

.footer-info p {
	margin-top: 30px;
	line-height: 5px;
	font-size: 18px;
}


.footer {
	color: white;
	margin-top: 150px;
	margin-bottom: 50px;
	line-height: 30px;
}

.footer ul {
	list-style: none;
	text-transform: capitalize;
}

.footer-titlePara {
	margin-right: 90px ;
	margin-left: 0;
}

.footer .row {
	margin-bottom: 50px;
}

.footer-list li{
	list-style: none;
	display: inline;
	padding-right: 40px;
}

.footer-list ul:first-child{
	margin-left:0 ;
	padding-left: 0;
}

.card .card-title {
	font-size: 24px;
}

.card .card-title1 {
	margin: 30px 0;
	font-size: 36px;
}

.card .card-body{
	margin: 20px;
}

.card .card-body img{
	margin-right: 15px;
}

.plan-details .card .card-body p{
	margin-right: 15px;
	margin-left: 0;
}

div.selected {
	background: #043873;
	color: white;
	height: 675px;
	top: -40px;

}

a.selected {
	background: #4F9CF9;
	border: none;
	text-decoration: none;
	padding: 10px 14px;
	border-radius: 4px;
	color: white;
}

a.btn {
	border: 1px solid #FFE492;
}

div.selected .card-title1,img {
	color: #FFE492;
}

.feedback div.card.feedback-selected {
	background-color: white;
	color: black;
	box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
}

.feedback .card-body hr {
	margin: 40px 0;
}

.feedback .slider .card {
	margin: 0 20px;
}